##예제 6-1 시리즈의 원소에 apply 적용

In [2]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택해 데이터프레임 생성
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
df['ten']=10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [3]:
# 함수 정의
def add_10(n):
  return n + 10

def add_two_obj(a,b):
  return a + b

print(add_10(10))
print(add_two_obj(10,10))

20
20

##예제 6-2 데이터프레임 원소에 applymap 적용

In [4]:
df_map = df.applymap(add_10)
print(df_map.head())

    age     fare  ten
0  32.0  17.2500   20
1  48.0  81.2833   20
2  36.0  17.9250   20
3  45.0  63.1000   20
4  45.0  18.0500   20

## 예제 6-3 데이터프레임에 apply(axis=0) 적용

In [6]:
def missing_value(series):
  return series.isnull()

res = df.apply(missing_value,axis=0)
print(res.head())
print('\n')
print(type(res))

     age   fare    ten
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False


<class 'pandas.core.frame.DataFrame'>

## 예제 6-4 데이터프레임에 apply(axis=0) 적용 2

In [7]:
def min_max(x):
  return x.max() - x.min()

res = df.apply(min_max)
print(res)
print('\n')
print(type(res))

age      79.5800
fare    512.3292
ten       0.0000
dtype: float64


<class 'pandas.core.series.Series'>

##예제 6-5 데이터프레임에 apply() 적용

In [9]:
df['add'] = df.apply(lambda x: add_two_obj(x['age'],x['ten']),axis=1)   
print(df.head())

    age     fare  ten   add
0  22.0   7.2500   10  32.0
1  38.0  71.2833   10  48.0
2  26.0   7.9250   10  36.0
3  35.0  53.1000   10  45.0
4  35.0   8.0500   10  45.0

##예제 6-6 데이터프레임에 pipe() 적용

In [12]:
def missing_value(x):
  return x.isnull()

def missing_count(x):
  return missing_value(x).sum()

def total_number_missing(x):
  return missing_count(x).sum

res = df.pipe(missing_value)
print(res.head())
print(type(res))

     age   fare    ten    add
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
<class 'pandas.core.frame.DataFrame'>